<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header>
      <h1>User panel</h1>
    </header>

    <nav>
        <a href="/">Log in</a>
        <a href="/user/profile/settings">Settings</a>
        <a href="/user/profile">Profile</a>
        <a href="/user/logout">Log out</a>
    </nav>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>
